.Modal {
	background: black;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	transform: translate(-50%, -50%);
	border: 4px solid springgreen;
	padding: 20px;
}

.Modal span {
	position: absolute;
	top: 0px;
	right: 15px;
	font-size: 30px;
	color: #ccc;
	padding: 5px;
}

.Modal span:hover {
	cursor: pointer;
	color: #eee;
}