a {
	color: inherit;
	text-decoration: none;
}

header {
	min-height: 15vh;
	background: blueviolet;
    color: #eee;
	display: flex;
	align-items: center;
	justify-content: flex-end
}

header nav ul {
	list-style-type: none;
	display: flex;

}

header li {
	margin: 20px;
}

header li a:hover,
header li a:active,
header li a.active {
	border-bottom: 3px solid yellow;
}

main {
	min-height: 70vh;
	background: #eee;
	padding: 15px;
}

h1 {
	padding: 20px;
	background: yellow;
}

footer {
	min-height: 15vh;
	background: blueviolet;
    color: #eee;
	display: flex;
	align-items: center;
	justify-content: flex-end
}

footer p {
	margin: 20px;
}

footer p a {
	border-bottom: 3px solid yellow;
}