@import url('https://fonts.googleapis.com/css?family=Wallpoet');

.logo {
	position: relative;
	width: 10rem;
	height: 10rem;
}

.logo-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: 'Wallpoet', sans-serif;
	color: #fff;
	font-size: 4rem;
	letter-spacing: -0.3rem;
}

.logo-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

/*				
	<div class="logo">
		<span class="logo-text">AG</span>
		<img class="logo-image" src="logo-image.svg">
	</div>

	*/