.button {
	border: none;
	
	padding: 8px 20px;
	margin-right: 3px;
	background: transparent;
	color: white;
	font-size: 23px;
}

.button:hover:not(:disabled) {
	background: rgba(0,0,0,0.5);
	cursor: pointer;
}

.button:disabled {
	color: #3F3F3F;
}
