.activeWrap {
	display: flex;
	justify-content: center;
}

.activeThumbCard {
	/*background: green;*/
	padding: 20px;
	/*border: 8px solid white;*/
}

.activeThumbCard h1 {
	margin-bottom: 20px;
	max-width: 550px;
}

@media (max-width: 768px) {
	.activeThumbCard h1 {
		margin: 0 auto 20px;
		text-align: center;
	}
}

.thumbWrap {
	/*background: purple;*/
	display: flex;
	align-items: space-between;
}

@media (max-width: 768px) {
	.thumbWrap {
		flex-wrap: wrap;
	}
}

.thumbInteract {
	padding: 0 30px;
	/*background: orange;*/
	width: 100%;
	min-width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

@media (max-width: 768px) {
	.thumbInteract .controls {
		margin: 10px auto 12px;	
		order: 2;
	}
}

.thumbInteract .options {
	/*background: pink;*/
}

@media (min-width: 768px) {
	.thumbInteract .options {
		margin: 25px 0;
	}
}

.thumbInteract .options ul {
	list-style-type: none;
}

.thumbInteract .options ul li {
	margin-bottom: 10px;
	padding-right: 10px;
	font-size: 18px;
	font-weight: bold;
}

.thumbInteract .options ul li:hover {
	cursor: pointer;
}

@media (max-width: 768px) {
	.thumbInteract .options ul {
		display: flex;
		justify-content: center;
		padding-top: 10px;
	}
}

.thumbInteract .options ul li:nth-of-type(1).favourited {
	color: magenta;
}

.thumbInteract .options ul li:nth-of-type(1):hover {
	color: magenta;
}

.thumbInteract .options ul li:nth-of-type(2):hover {
	color: cyan;
}

.thumbInteract .options ul li:nth-of-type(3):hover {
	color: springgreen;
}

.thumbInteract .options ul li:nth-of-type(4):hover {
	color: orange;
}

.thumbInteract .options ul li svg {
	animation-duration: 1s;
}

.thumbInteract .options ul li:not(:nth-of-type(1)) svg {
	margin-right: 10px;
}

.thumbInteract .options ul li:hover svg {
	animation-name: pulse;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

.thumbInteract .socialMediaWrap {
	/*background-color: lightblue;*/
	display: flex;
}

.thumbInteract .socialMediaWrap h4 {
	text-transform: uppercase;
	padding-bottom: 10px;
}

@media (max-width: 768px) {
	.thumbInteract .socialMediaWrap {
		justify-content: center;
		order: 3;
	}
	.thumbInteract .socialMediaWrap h4 {
		padding-bottom: 5px;
	}
}

.thumbInteract .socialMediaWrap .socialMediaIcons {
	display: flex;
}

.thumbInteract .socialMediaWrap .socialMediaIcons div {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	width: 45px;
	height: 45px;
}

.thumbInteract .socialMediaWrap .socialMediaIcons div:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.5);
}

.animatedHeart {
	position: relative;
	z-index: 1;
	margin-right: 5px;
	padding: 5px;
}

.animatedHeart::before {
	content: '';
	display: inline-block;
	position: absolute;
	height: 50%;
	width: 50%;
	top: 0%;
	bottom: 5px;
	left: -100%;
	right: -100%;
	margin: auto;
	/*border: 1px solid;*/
	background-repeat: no-repeat;
	z-index: -2;
	background-image: 
	radial-gradient(circle, transparent 10%, pink 25%, yellow 20%, transparent 40%, transparent 40%),
	radial-gradient(circle, transparent 10%, pink 25%, yellow 20%, transparent 40%, transparent 40%),
	radial-gradient(circle, transparent 10%, pink 25%, yellow 20%, transparent 40%, transparent 40%),
	radial-gradient(circle, transparent 10%, pink 25%, yellow 20%, transparent 40%, transparent 40%),
	radial-gradient(circle, transparent 10%, pink 25%, yellow 20%, transparent 40%, transparent 40%);
	background-size: 
	0% 0%,
	0% 0%,
	0% 0%,
	0% 0%,
	0% 0%;
	background-position:  
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%,
	50% 50%;
}

.animatedHeart::before:hover {
	cursor: pointer;
}

.animatedHeart.animate::before {
	height: 0;
	width: 0;
	animation: heartAnimation 1.5s ease forwards;
}

@keyframes heartAnimation {
	0%, 100% {
		height: 0;
		width: 0;
		background-position:
		50% 50%,
		50% 50%,
		50% 50%,
		50% 50%,
		50% 50%;
		background-size: 
		0% 0%,
		0% 0%,
		0% 0%,
		0% 0%,
		0% 0%;
	}
	20%,41%,89% {
		height: 200%;
		width: 200%;
		background-size:
		20% 20%,
		20% 20%,
		20% 20%,
		20% 20%,
		20% 20%,
	}
	40% {
		background-size:
		10% 10%,
		10% 10%,
		10% 10%,
		10% 10%,
		10% 10%;
		background-position:
		50% 0%,
		0% 35%,
		100% 35%,
		15% 100%,
		85% 100%;
	}
}

.copied {
	background-color: cyan;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	height: 40px;
	position: fixed;
	z-index: 100;
	top: 50%;
	left: 0;
	width: 100%;
	animation-name: drop-down;
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-out;
}

.copied:hover {
	background: darkcyan;
	cursor: pointer;
	color: #eee;
}

@keyframes drop-down {
	0% {
		top: 50%;
	}
	100% {
		top: calc(100vh - 40px);
	}
}

.copied span {
	font-size: 20px;
	position: absolute;
	right: 10px;
	padding-right: 10px;
}


.embedded h3 {
	color: springgreen;
}

.embedded p {
	margin: 10px 0 20px;
}

.embedded input {
	border: none;
	outline: none;
	box-shadow: none;
	width: 100%;
	height: 25px;
	padding: 5px;
}
