.masonryGrid {
	column-count: 4;
	column-gap: 15px;
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;
}

@media (max-width: 768px) {
	.masonryGrid {
		column-count: 3;
		column-gap: 10px;
	}
}

@media (max-width: 425px) {
	.masonryGrid {
		column-count: 1;
	}
}

.masonryGrid > div {
	break-inside: avoid;
	border-radius: 5px;
	margin-bottom: 15px;
	line-height: 0;
}

@media (max-width: 768px) {
	.masonryGrid > div  {
		margin-bottom: 10px;
	}
}

.masonryGrid .thumb:hover {
	opacity: 0.6;
	cursor: pointer;
}

.masonryGrid .thumb img {
	border-radius: 5px;
}