@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@media (max-width: 768px) {
	html {
		font-size: 14px;
	}
}

@media (max-width: 425px) {
	html {
		font-size: 12px;
	}
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
}